<div class="overflow-x-auto">
  <div class="flex justify-center text-2xl font-sans mt-20 pt-10">Task Manager</div>
  <button
    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded"
    id="add-task-btn" (click)="openModal()">
    Add Task
  </button>
  <div class="min-w-screen min-h-screen flex justify-center bg-gray-100 font-sans overflow-hidden">
    <div class="w-full">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">Task</th>
              <th class="py-3 px-6 text-left">Assigned</th>
              <th class="py-3 px-6 text-center">Assigned To</th>
              <th class="py-3 px-6 text-center">Status</th>
              <th class="py-3 px-6 text-center">Actions</th>
            </tr>
          </thead>
          <tbody id="table-body" class="text-gray-600 text-sm font-light">
            <tr class="border-b border-gray-200 hover:bg-gray-100" *ngFor="let task of taskList"
              attr.id="{{object.values(task)[4]}}">
              <td class="py-3 px-6 text-center whitespace-nowrap font-semibold hover:cursor-default">{{object.values(task)[0]}}</td>
              <td class="py-3 px-6 text-center font-semibold hover:cursor-default">{{object.values(task)[1]}}</td>
              <td class="py-3 px-6 text-center font-semibold hover:cursor-default">{{object.values(task)[2]}}</td>
              <td class="py-3 px-6 text-center font-semibold hover:cursor-default">
                <ng-template [ngIf]="object.values(task)[3] == 'completed'">
                  <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Completed</span>
                </ng-template>
                <ng-template [ngIf]="object.values(task)[3] == 'scheduled'">
                  <span class="bg-yellow-200 text-yellow-600 py-1 px-3 rounded-full text-xs">Scheduled</span>
                </ng-template>
                <ng-template [ngIf]="object.values(task)[3] == 'pending'">
                  <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">Pending</span>
                </ng-template>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <button class="w-4 mr-6 transform hover:text-purple-500 hover:scale-110"
                    attr.id="{{object.values(task)[4]}}-edit" (click)="editTask($event)">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                      </svg> -->
                    Edit
                  </button>
                  <button class="w-4 mr-6 transform hover:text-purple-500 hover:scale-110"
                    attr.id="{{object.values(task)[4]}}-del" (click)="removeTask($event)">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                      </svg> -->
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>